.ratings {
    justify-content: space-between;
}

.ratings-top-side-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.ratings-top-side-container p {
    font-size: .9em;
    text-wrap: pretty;
}

.ratings-top-side-container .ratings-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    width: 100%;
    padding-top: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.ratings-list img {
    width: 6em;
    height: auto;
    scroll-snap-align: start;
}

.ratings-list img:hover {
    animation: btn-click-anim .5s ease-in-out infinite;
}