@charset "UTF-8";





.hamburguer-menu-link { display: none; }

header > nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > nav > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
}

.page-sections-container > ul {
    justify-content: center;
}

.page-sections-container > ul > li {
    margin-inline: 3vw;
}

.section-link {
    width: 100%;
    height: 100%;
    font-size: clamp(.5em, 2vw, 1em);
    white-space: nowrap;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.section-link:hover {
    color: var(--hover-btn-red);
    transition: color .2s;
}

.external-links-container {
    width: 9vw;
    min-width: 5rem;
}

.external-links-container > ul > li {
    margin-inline: .2rem;
    width: 1.7rem;
    
}

.external-links-container > ul > li, .external-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.external-link > img {
    width: 100%;
}

#how-to-use, #contact {
    color: rgb(133, 133, 133);
    cursor: default;
}