.recomendation-app {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70%;
    margin-bottom: 1rem;
}

article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;
    
    width: 55%;
    height: 100%;
}

article div p {
    text-wrap: wrap;
    font-weight: 100;
    font-size: clamp(16px, 1.8vw, 30px);
    color: var(--about-recommend-text-color);
}

article > aside {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    text-align: start;
}

.recommendation-infos {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    list-style: none;
}

.recommendation-infos li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-block: .4rem;
    padding-inline: .6rem;
    margin-inline: .2rem;
    margin-bottom: .4rem;

    background-color: var(--about-recommend-info-bg-color);
    border-radius: 7px;
    border: 1px solid #737373;
}

.recommendation-infos li p {
    margin: 0px;
    margin-left: .5rem;

    font-size: clamp(8px, 1.2vw, 20px);
    font-weight: normal;
}

#rating {
    width: 3.5vw;
    object-fit: cover;
    padding: 0px;
    background-color: transparent;
    border: none;
}

#rating > img {
    width: 100%;
    height: auto;
}