@charset "UTF-8";

:root {
    --background-color: #1b1b1b;
    --box-shadow-dark: #0e0e0e;
    --hover-btn-red: #eb5148;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    padding: .5rem 2rem;
    position: fixed;

    background-color: var(--background-color);
    box-shadow: 0px 0px 30px var(--box-shadow-dark);
}

.mofinder-logo-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.mofinder-logo-container > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.mofinder-logo-container > a > img {
    width: 100%;
    height: auto;
}

.hamburguer-menu-link { display: none; }

header > nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > nav > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
}

.page-sections-container > ul {
    justify-content: center;
}

.page-sections-container > ul > li {
    margin-inline: 3vw;
}

.section-link {
    width: 100%;
    height: 100%;
    font-size: clamp(.5em, 2vw, 1em);
    white-space: nowrap;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.section-link:hover {
    color: var(--hover-btn-red);
    transition: color .2s;
}

.external-links-container {
    width: 9vw;
    min-width: 5rem;
}

.external-links-container > ul > li {
    margin-inline: .2rem;
    width: 1.7rem;
    
}

.external-links-container > ul > li, .external-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.external-link > img {
    width: 100%;
}

#how-to-use, #contact {
    color: rgb(133, 133, 133);
    cursor: default;
}