@charset "UTF-8";

:root {
    --hover-btn-red: #eb5148;
    --hidden-info-darkgray: #646464;
    --dynamic-card-darkgray: #242424;
    --dynamic-card-shadow-dark: #0e0e0e85;
    --recommendation-release-color: #868686;
    --about-recommend-text-color: #999999;
    --about-recommend-info-bg-color: #2e2e2e;
}

/* Global settings for sections */
section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    text-wrap: nowrap;

    width: 100%;
    height: 90vh;
    padding-top: 15vh;
    margin-block: 10vh;

    color: white;
}

/* Home */
.mofinder-section-home {
    text-align: start;
}

/* Checkup */
.mofinder-section-checkup {
    align-items: center;
    text-align: center;
}

/* Stream Apps */
.mofinder-section-streamapp {
    align-items: center;
    text-align: center;
}

.mofinder-section-streamapp div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.mofinder-section-streamapp div p {
    margin: 0px;
    color: var(--hidden-info-darkgray);
    font-size: clamp(8px, 1.5vw, 20px);
}

.streamingapps-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-bottom: 2vh;
}

.streamingapps-list li {
    margin-inline: .5vw;
}

.streamingapps-list > li > img {
    cursor: pointer;
}

.streamingapps-list > li > img:hover {
    transform: translateY(-10px);
    transition: transform .2s;
}

.to-age-ratings-btn {
    width: 24vw;
}

/* Ratings */
.mofinder-section-ratings {
    align-items: center;
    text-align: center;
}

.mofinder-section-ratings div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.mofinder-section-streamapp div p {
    margin: 0px;
    color: var(--hidden-info-darkgray);
    font-size: clamp(8px, 1.5vw, 20px);
}

.ratings-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-bottom: 2vh;
}

.ratings-list li {
    margin-inline: .5vw;
}

.ratings-list > li > img {
    cursor: pointer;
}

.ratings-list > li > img:hover {
    transform: translateY(-10px);
    transition: transform .2s;
}

.to-recommendations-section-btn {
    width: 22vw;
}

/* Recommending App */
.mofinder-recommending {
    text-align: start;
}

.recomendation-app {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70%;
    margin-bottom: 1rem;
}

.dynamic-cards-preview {
    width: 40%;
    height: 100%;
    position: relative;
}

.dynamic-card {
    width: 100%;
    height: 75%;
    position: absolute;

    background-color: var(--dynamic-card-darkgray);
    border-radius: 7px;
    box-shadow: 0px 0px 20px var(--dynamic-card-shadow-dark);
}

#card-1 {
    top: 12.5%;
}

#card-2 {
    top: 17%;
    left: 3%;
}

#recommendation-card {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    top: 23%;
    left: 7%;
    background-image: linear-gradient(to top, var(--dynamic-card-shadow-dark), transparent);
}

#recommendation-card p {
    font-weight: 300;
    font-size: clamp(8px, 1.2vw, 20px);
    color: var(--recommendation-release-color);
    margin-bottom: .5rem;
}

article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;
    
    width: 55%;
    height: 100%;
}

article div p {
    text-wrap: wrap;
    font-weight: 100;
    font-size: clamp(16px, 1.8vw, 30px);
    color: var(--about-recommend-text-color);
}

article > aside {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    text-align: start;
}

.recommendation-infos {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    list-style: none;
}

.recommendation-infos li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-block: .4rem;
    padding-inline: .6rem;
    margin-inline: .2rem;
    margin-bottom: .4rem;

    background-color: var(--about-recommend-info-bg-color);
    border-radius: 7px;
    border: 1px solid #737373;
}

.recommendation-infos li p {
    margin: 0px;
    margin-left: .5rem;

    font-size: clamp(8px, 1.2vw, 20px);
    font-weight: normal;
}

#rating {
    width: 3.5vw;
    object-fit: cover;
    padding: 0px;
    background-color: transparent;
    border: none;
}

#rating > img {
    width: 100%;
    height: auto;
}