@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --background-color: #1b1b1b;
    --box-shadow-dark: #0e0e0e;
    --hover-btn-red: #eb5148;
}

body {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;

    background-color: var(--background-color);
    background-image: url("../assets/background-cinema-chairs.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: .7rem .5rem;

    text-align: center;
    background-color: var(--background-color);
    box-shadow: 0px 0px 30px var(--box-shadow-dark);
}

header > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    padding-inline: 1rem;
}

header > nav > ul {
    display: flex;
    flex: auto;
    list-style-type: none;
}

nav > ul > li {
    display: inline;
    margin-inline: 1rem;
}

.mofinder-logo-container {
    height: 100%;
    text-align: left;
    flex: 0 1 25%;
}

.mofinder-logo-container > a, .mofinder-logo-container > a > img {
    width: auto;
    height: 100%;
}

.hamburguer-menu-link {
    display: none;
}

.page-sections-container {
    flex: 0 1 22rem;
}

.section-link {
    font-size: 1em;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.section-link:hover {
    color: var(--hover-btn-red);
    transition: color .2s;
}

.external-links-container {
    flex: 0 2 12rem;
    padding-inline: 0px;
}

.external-links-container > ul {
    justify-content: space-evenly;
}

.external-links-container > ul > li > a, .external-links-container > ul > li > a > img {
    width: 1.5em;
    height: 1.5em;
}