@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #1b1b1b;
    --dynamic-bg-color: #171717e4;
    --box-shadow-color: #0e0e0e;
    --hover-btn-color: #eb5148;
    --small-letters-color: #646464;
    --dynamic-card-color: #242424;
    --dynamic-card-shadow-color: #0e0e0e85;

    scroll-behavior: smooth;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--main-bg-color);

    /*
    background-image: url("../assets/background-cinema-chairs.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    */
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    padding: .5rem 2rem;
    position: fixed;

    background-color: var(--main-bg-color);
    box-shadow: 0px 0px 30px var(--box-shadow-color);
}

header #mofinder-logo {
    display: block;
    background-image: url("../assets/logo-mofinder.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 5.5em;
    height: 100%;
    cursor: pointer;
}

header nav { display: none; }

body .hamburguer-dynamic-shadow {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: var(--dynamic-bg-color);
    display: none;
}

body .hamburguer-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
    width: 3rem;
    height: 3rem;
    padding: .5rem;

    border-radius: 20%;
    border: 1px solid white;
    background-color: var(--main-bg-color);
    box-shadow: 0px 0px 20px var(--box-shadow-color);
}

.hamburguer-container #hamburguer-links-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 100%;
    right: 0px;
    margin-bottom: 25px;
    width: 300%;

    text-align: end;
    display: none;
}

.hamburguer-container #hamburguer-links-container #external-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.hamburguer-container #hamburguer-links-container nav a {
    display: block;
    font-weight: 300;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

.hamburguer-container #hamburguer-links-container nav #contact {
    margin-bottom: 20px;
}

.hamburguer-container #hamburguer-links-container nav .external-link {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0px 5px;
}

.hamburguer-container #hamburguer-links-container nav #site {
    background-image: url("../assets/svg-icons/link.svg");
}

.hamburguer-container #hamburguer-links-container nav #linkedin {
    background-image: url("../assets/svg-icons/linkedin-logo.svg");
}

.hamburguer-container #hamburguer-links-container nav #github {
    background-image: url("../assets/svg-icons/github-logo.svg");
}

.hamburguer-container #hamburguer-links-container nav a[href="#"] {
    color: var(--small-letters-color);
    cursor: default;
}

#hamburguer-toggle {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-block: 8vh;
    padding-inline: 5%;
}

h1 {
    font-weight: 700;
    font-size: 2.3em;
    margin-bottom: 10px;
    text-align: center;
    text-wrap: wrap;
    color: white;
}

h3 {
    font-weight: 300;
    font-size: clamp(16px, 2vw, 35px);
    margin-bottom: .2em;
    color: white;
}

p {
    font-weight: 100;
    font-size: 1em;
    margin-bottom: 1.2rem;
    text-align: center;
    text-wrap: balance;
    color: white;
}

small {
    color: var(--small-letters-color);
    font-weight: 200;
    font-size: .7em;
    text-wrap: pretty;
    margin-bottom: 1rem;
}

button {
    all: unset;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding-block: .5rem;
    padding-inline: 1rem;
    
    text-align: center;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 11px;
    cursor: pointer;
}

button p {
    font-weight: 300;
    margin: 0px;
    margin-left: 1rem;
}

button:hover {
    border-color: var(--hover-btn-color);
    transition: border-color .2s;
}

section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 92vh;
    padding-block: 2em;
}

.mofinder-section-home .labels-container h1 {
    text-align: start;
    text-wrap: pretty;
}

.mofinder-section-home .labels-container p {
    text-align: end;
    text-wrap: pretty;
}

.mofinder-section-streamapp div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.mofinder-section-streamapp div .streamingapps-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.streamingapps-list li {
    width: 5em;
    margin-inline: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.streamingapps-list li img {
    width: 100%;
    height: auto;
}

.streamingapps-list li img:hover {
    transform: translateY(-5px);
    transition: transform .2s;
}

.mofinder-section-ratings div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.mofinder-section-ratings div .ratings-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.ratings-list li {
    width: 4.5em;
    margin-inline: .5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.ratings-list li img {
    width: 100%;
    height: auto;
}

.ratings-list li img:hover {
    transform: translateY(-5px);
    transition: transform .2s;
}